## Import

In [1]:
from PublicDataReader import Ecos

import xlwings as xw
import pandas as pd
import numpy as np
import time

* api setting

In [2]:
KEY = 'GG5O3Y75NZ9O6CN5QCBW'

In [5]:
## 통계 테이블
api = Ecos(KEY)
meta = api.get_statistic_table_list()
meta = meta.loc[meta['검색가능여부'] == 'Y']
meta.index = [x for x in range(meta.shape[0])]

In [11]:
meta['통계명']

0        1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)
1           1.1.1.1.2. 본원통화 구성내역(평잔, 원계열)
2        1.1.1.1.3. 본원통화 구성내역(말잔, 계절조정계열)
3           1.1.1.1.4. 본원통화 구성내역(말잔, 원계열)
4      1.1.2.1.1. M1 상품별 구성내역(평잔, 계절조정계열)
                      ...
605                  9.1.6.2. 국제 주요국 주가지수
606                       9.1.6.3. 국제상품가격
607                           9.2.1.1. 총량
608                     9.2.1.2. 한국/북한 배율
609                9.2.2. 북한의 경제활동별 국내총생산
Name: 통계명, Length: 610, dtype: object

In [ ]:
meta

        상위통계표코드    통계표코드                                 통계명 시점 검색가능여부    출처
0    0000000004  102Y004    1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)  M      Y  None
1    0000000004  102Y002       1.1.1.1.2. 본원통화 구성내역(평잔, 원계열)  M      Y  None
2    0000000004  102Y003    1.1.1.1.3. 본원통화 구성내역(말잔, 계절조정계열)  M      Y  None
3    0000000004  102Y001       1.1.1.1.4. 본원통화 구성내역(말잔, 원계열)  M      Y  한국은행
4    0000000006  101Y018  1.1.2.1.1. M1 상품별 구성내역(평잔, 계절조정계열)  M      Y  None
..          ...      ...                                 ... ..    ...   ...
605  0000000446  902Y002                9.1.6.2. 국제 주요국 주가지수  M      Y  한국은행
606  0000000446  902Y003                     9.1.6.3. 국제상품가격  M      Y  한국은행
607  0000000447  251Y003                         9.2.1.1. 총량  A      Y  None
608  0000000447  251Y002                   9.2.1.2. 한국/북한 배율  A      Y  None
609  0000000396  251Y001              9.2.2. 북한의 경제활동별 국내총생산  A      Y  한국은행

[610 rows x 6 columns]

In [7]:
## 용어
inform = api.get_statistic_word(용어="소비자동향지수")
inform.head()

        용어                                               용어설명
0  소비자동향지수  소비자들이 느끼는 경기, 소비지출계획, 생활형편 등 경제에 대한 전반적인 인식을 조...

In [9]:
meta.loc[meta['통계표코드'] == '200Y001']

        상위통계표코드    통계표코드                  통계명 시점 검색가능여부    출처
142  0000000068  200Y001  2.1.1.1. 주요지표(연간지표)  A      Y  None

In [5]:
df = api.get_statistic_item_list(통계표코드="601Y002")
df.head()

,통계표코드,통계명,항목그룹코드,항목그룹명,통계항목코드,통계항목명,상위통계항목코드,상위통계항목명,시점,수록시작일자,수록종료일자,자료수,단위,가중치
0,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,A,서울,None,None,M,200912,202305,13284,None,None
1,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,B,부산,None,None,M,200912,202305,13284,None,None
2,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,C,대구,None,None,M,200912,202305,13284,None,None
3,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,D,인천,None,None,M,200912,202305,13284,None,None
4,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,E,광주,None,None,M,200912,202305,13284,None,None

In [10]:
df = api.get_statistic_search(통계표코드="200Y001", 주기="A", 검색시작일자="2015", 검색종료일자="2021")
df.head()

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,시점,값
0,200Y001,2.1.1.1. 주요지표(연간지표),3010101,민간,None,None,None,None,None,None,%,2015,2.2
1,200Y001,2.1.1.1. 주요지표(연간지표),7010106,가계,None,None,None,None,None,None,%,2015,55.8
2,200Y001,2.1.1.1. 주요지표(연간지표),7010107,기업,None,None,None,None,None,None,%,2015,22.5
3,200Y001,2.1.1.1. 주요지표(연간지표),7010108,정부,None,None,None,None,None,None,%,2015,21.7
4,200Y001,2.1.1.1. 주요지표(연간지표),70105,총조정처분가능소득의분배,None,None,None,None,None,None,None,2015,None

In [11]:
df = api.get_key_statistic_list()
df.head()

  통계그룹명            통계명      값        시점  단위
0  시장금리      한국은행 기준금리    3.5  20230912  %
1  시장금리       콜금리(익일물)  3.592  20230913  %
2  시장금리   KORIBOR(3개월)   3.76  20230914  %
3  시장금리     CD수익률(91일)   3.76  20230914  %
4  시장금리  통안증권수익률(364일)  3.644  20230914  %

In [12]:
df

     통계그룹명              통계명        값        시점          단위
0     시장금리        한국은행 기준금리      3.5  20230912          %
1     시장금리         콜금리(익일물)    3.592  20230913          %
2     시장금리     KORIBOR(3개월)     3.76  20230914          %
3     시장금리       CD수익률(91일)     3.76  20230914          %
4     시장금리    통안증권수익률(364일)    3.644  20230914          %
..     ...              ...      ...       ...         ...
95  부동산 가격         주택매매가격지수   95.661    202307  2021.6=100
96  부동산 가격         주택전세가격지수   91.389    202307  2021.6=100
97  부동산 가격      지가변동률(전기대비)    0.063    202307          %
98     원자재  국제유가(Dubai, 현물)    87.15    202308         달러
99     원자재                금  1940.19    202308         달러

[100 rows x 5 columns]

## 참고자료

- https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/ecos/ecos.md